#content {
    text-align: center;
}

#content h1 {
    font-size: 7em;
    margin: 3% 0 1% 0;
    font-weight: normal;
}

#content h2 {
    margin: 0;
    font-size: 1.8em;
}

#content p {
    margin: 5%;
    font-size: 1.4em;
    color: #444;
}

#content a {
    display: block;
    font-size: 1.2em;
    margin-bottom: 5%;
}

@media screen and (max-width: 500px) {
    #content h1 {
        font-size: 5em;
        margin: 5% 0;
    }    
    #content h2 {
        font-size: 1.3em;
    }
    
    #content p {
        margin: 15% 13%;
        font-size: 1em;
    }
    
    #content a {
        font-size: 0.9em;
        margin-bottom: 15%;
    }
}