/* SLIDESHOW */
#slideshow-container {
	position: relative;
	width: 90%;
	height: 350px;
	margin: 5% auto;
	background-color: #111;
    text-align: center;
}
    
#slides .slide {
    position: absolute;
    top: 0;
    left: 0;
    opacity: 0;
    z-index: 0;
    -webkit-transition: opacity 1s;
    -moz-transition: opacity 1s;
    -o-transition: opacity 1s;
    transition: opacity 1s;
}

#slides .slide img {
    max-width: 100%;
    max-height: 350px;
}

#slides .showing {
    opacity: 1;
    z-index: 1;
}

#next {
    cursor: pointer;
    position: absolute;
    top: 50%;
    padding: 1.8rem 1.5rem;
    margin-top: -42px;
    color: #666;
    font-weight: bold;
    font-size: 4rem;
    z-index: 3;
    -webkit-transition: 0.3s;
    -moz-transition: 0.3s;
    -o-transition: 0.3s;
    transition: 0.3s;
    -webkit-user-select: none;
    -khtml-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
    right: 0;
    text-align: right;
    border-radius: 3px 0 0 3px;
}

#next:hover {
    color: #ccc;
    background: rgba(0,0,0,0.8);
}

#prev {
    cursor: pointer;
    position: absolute;
    top: 50%;
    padding: 1.8rem 1.5rem;
    margin-top: -42px;
    color: #666;
    font-weight: bold;
    font-size: 4rem;
    z-index: 3;
    -webkit-transition: 0.3s;
    -moz-transition: 0.3s;
    -o-transition: 0.3s;
    transition: 0.3s;
    -webkit-user-select: none;
    -khtml-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
    left: 0;
    right: auto;
    text-align: left;
    border-radius: 0 3px 3px 0;
}

#prev:hover {
    color: #ccc;
    background: rgba(0,0,0,0.8);
}

#pause {
    cursor: pointer;
    position: absolute;
    width: 17px;
    height: 18px;
    top: 10px;
    left: 10px;
    z-index: 4;
    color: #555;
    background: #ccc;
    border-radius: 3px;
    font-size: 1.1rem;
    padding: 1px;
}

#pause:hover {
    color: #333;
    background: #eee;
}

#dots {
    position: relative;
    text-align: center;
    top: 320px;
    z-index: 2;
}

#dots .dot {
    cursor: pointer;
    height: 11px;
    width: 11px;
    margin: 0 2px;
    border: 1px solid #ddd;
    border-radius: 50%;
    display: inline-block;
    -webkit-transition: 0.3s;
    -moz-transition: 0.3s;
    -o-transition: 0.3s;
    transition: 0.3s;
}

#dots .dot:hover {
    background-color: #bbb;
    border: none;
}

#dots .active {
    background-color: #ddd;
}

@media screen and (max-width: 500px) {
    #slideshow-container {
        width: 100%;
        height: 200px;
        margin: 0 auto;
    }
    #slides .slide img {
        max-height: 200px;
    }
    #next, #prev {
        padding: 1.5rem 1.3rem;
        margin-top: -35px;
        font-size: 3rem;
    }
    #pause {
        width: 15px;
        height: 15px;
        top: 8px;
        left: 8px;
        font-size: 0.9rem;
    }
    #dots {
        top: 175px;
    }
    #dots .dot {
        height: 10px;
        width: 10px;
    }
}

hr {
    margin-top: 7%;
    margin-bottom: 6%;
    border-top-color: #ddd;
}

/* NEWS */
#news h2 {
    text-align: center;
    padding-bottom: 1%;
}

#news .story {
    margin: 5% 0;
    font-size: 1.1em;    
    display: -webkit-box;
    display: -moz-box;
    display: -ms-flexbox;
    display: -webkit-flex;
	display: flex;
}

#news .img-container {
    flex-basis: 25%;
    text-align: center;
    padding: 0 6% 0 2%;
}

#news .newsimg {
    border-radius: 5px;
    max-width: 100%;
}

#news .text {
    flex-basis: 75%;
    padding: 0 0 0 2%;
}

#news .text h5 {
    font-size: 1.9rem;
    font-weight: bold;
    font-family: Roboto, Helvetica, sans-serif;
    padding-bottom: 1%;
    margin-top: 0px;
}

@media screen and (max-width: 767px) {
    #intro {
        margin-bottom: 10%;
    }
    hr {        
        margin-top: 10%;
        margin-bottom: 10%;
    }
    #news h2 {
        padding-bottom: 0;
    }
    #news .story {
        display: block;
        margin: 10% 0;
        font-size: 1em;
    }
    #news .img-container {
        float: right;
        padding: 0 0 3% 4%;
    }
    #news .newsimg {
        height: 75px;
        width: 75px;
    }
    #news .text-2 h5 {
        font-size: 1.6rem;
    }
}