<div id="footer">
    <div class="row">
        <div class="col-sm-3" id="contact">
            <p class="name">Robeson Planetarium</p>
            <p class="address">420 Caton Rd</p>
            <p class="address">Lumberton, NC</p>
            <p class="phone">(910) 735-2148</p>
            <a class="facebook" href="https://www.facebook.com/RobesonPlanetarium/">
                <img src="/images/facebook_icon.png" alt="facebook">
            </a>
            <p class="psrc">Part of the <a href="http://www.robeson.k12.nc.us/">Public Schools of Robeson County</a></p>
        </div>
        <div class="col-sm-9" id="affiliates">
            <p>Robeson Planetarium is proudly affiliated with the following outstanding organizations:</p>
            <a href="http://www.sepadomes.org">
                <img class="one" src="/images/affiliate_logos/sepa.png" alt="Southeastern Planetarium Association logo">
            </a>
            <a href="http://www.wncrocks.com/magma/magma.html">
                <img class="two" src="/images/affiliate_logos/magmagray.png" alt="Mountain Area Gem and Mineral Association logo">
            </a>
            <a href="http://www.ncscience.org">
                <img class="three" src="/images/affiliate_logos/GrassrootsMuseums.jpg" alt="North Carolina Grassroots Museums Collaborative logo">
            </a>
            <a href="http://www.ips-planetarium.org/">
                <img class="four" src="/images/affiliate_logos/ips.jpg" alt="International Planetarium Society logo">
            </a>
            <a href="https://solarsystem.nasa.gov/ssep/">
                <img class="five" src="/images/affiliate_logos/ssep.jpg" alt="Solar System Educators Program logo">
            </a>
        </div>
    </div>
    <div id="copyright">
        <p>&copy; {{ now.Format "2006" }} Robeson Planetarium. All rights reserved.</p>  
    </div>
</div>