<header>
    <div class="row">
        <div class="col-xs-8 col">
            <a href="/">
                <img class="img-responsive" id="logo" src="/images/planetariumlogo.jpg" alt="Planetarium Logo" width="576" height="188">
            </a>
        </div>
        <div class="col-xs-4 col">
            <a href="http://www.robeson.k12.nc.us/">
                <img class="img-responsive" id="psrclogo" src="/images/psrclogo.png" alt="Public Schools of Robeson County Logo" width="166">
            </a>
            <a href="https://www.facebook.com/Robeson-Planetarium-and-Science-Center-256104448069">
                <img class="img-responsive" id="fb" src="/images/facebook-logo.jpg" alt="Facebook button">
            </a>
        </div>
    </div>
</header>