{{ define "head" }} <link rel="stylesheet" type="text/css" href="/css/contact.css"> {{ end }}

{{ define "content" }}
    <h1>{{ .Title }}</h1>
    <div id="reservations">
        <h3>For reservations and other information, contact {{ .Params.person }}:</h3>
        <h4>{{ .Params.phone }}</h4>
        <h4><a href='mailto:"{{ .Params.person }}" <{{ .Params.email }}>'>{{ .Params.email }}</a></h4>
    </div>
    <hr>
    <div id="directions">
        <h3>Directions:</h3>
        <p class="address">{{ .Params.address1 }}</p>
        <p class="address">{{ .Params.address2 }}</p>
        <!-- <iframe class="map" width="600" height="350" frameborder="0" style="border:0" src="https://www.google.com/maps/embed/v1/place?key={{ .Site.Params.googleMapsApiKey }}&q={{ .Params.address1 }} {{ .Params.address2 }}&zoom=15" allowfullscreen></iframe> -->
        <iframe class="map" width="600" height="350" frameborder="0" style="border:0" src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d3283.477804888205!2d-79.00932568510625!3d34.617363980455885!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x89aae745450490e9%3A0xafd3b18ff5dcf14a!2s210+E+2nd+St%2C+Lumberton%2C+NC+28358%2C+USA!5e0!3m2!1sen!2sar!4v1513021248894" width="600" height="450" frameborder="0" style="border:0" allowfullscreen></iframe>
        <p>{{ .Params.directions }}</p>
    </div>
    <hr>
    <div id="staff">
        <h2>Our Team</h2>
        {{ range .Pages }}
            {{ if .Params.imageSRC }}
                <div class="person row">
                    <div class="col-sm-2 col-xs-3 imgcontainer">
                        <img class="profilepic img-responsive" src="{{ .Params.imageSRC | relURL }}" alt="{{ .Params.name }}" height="120" width="120">
                    </div>
                    <div class="col-sm-10 col-xs-9">
                        <h3 class="name">{{ .Title }}</h3>
                        {{ with .Params.position }}<h4 class="title">{{ . }}</h4>{{ end }}
                        {{ with .Params.phone }}<p class="phone">{{ . }}</p>{{ end }}
                        {{ if .Params.email }}<a class="email" href='mailto:"{{ .Params.name }}" <{{ .Params.email }}>'>{{ .Params.email }}</a>{{ end }}
                    </div>
                </div>
            {{ else }}
                <div class="person row">
                    <h3 class="name">{{ .Title }}</h3>
                    {{ with .Params.position }}<h4 class="title">{{ . }}</h4>{{ end }}
                    {{ with .Params.phone }}<p class="phone">{{ . }}</p>{{ end }}
                    {{ if .Params.email }}<a class="email" href='mailto:"{{ .Params.name }}" <{{ .Params.email }}>'>{{ .Params.email }}</a>{{ end }}
                </div>
            {{ end }}
        {{ end }}
    </div>
{{ end }}